.body{
 margin: 0;
 padding: 0;
}

.menu{
    height: 8vh;
    background-color: #ccc;
}

.tools_canvas{
    height: 80vh; 
    width: 100%;
}

.tools{
    height: 90vh; 
    width: 10%;
    background-color: #aaa;
    float: left;
}

.btn{
    height: 10vh;
    margin: 2vh;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
    background-color: #888;
    text-align: center;
}


.canvas_deck{
    margin-left: 10%;
    height: 90vh; 
    width: 90%;
    background-color: #777;
}

svg{
    position: absolute;
    top: 15vh;
    left: 15%;
    background-color: #fff;
    width: 80%; height: 80vh;
    cursor:  crosshair;
}

.frame_node{
    cursor: e-resize;
}

.active{
    background-color: #bbb;
}